<h4 class="text-white display-3">Member added. Thank you!</h4>

<a href="/" class="btn btn-success">Go back</a>
<a href="/api/members" class="btn btn-warning">View API</a>

<script>
    document.body.style.backgroundImage = "url('../img/success.jpeg')"
    document.body.style.backgroundSize = "cover"
</script>